:root {
  --bg-primary: #FFFFFF;
  --color-primary: #0F172A;

  --bg-secondary: #0083F6;
  --color-secondary: #0A192F;

  --bg-tertiary: #EEF2FF;
  --color-tertiary: #312E81;

  --bg-quaternary: #0A192F;
  --color-quaternary: #FFE600;
  --color-quaternary2: #FFFFFF;

  --bg-pent: #020617;
  --color-pent: #38BDF8;

  --bg-hex: #1E1B4B;
  --color-hex: #FACC15;

  --bg-heading1: #DADADA;
  --color-heading1: #0083F6;

  --bg-heading2: #0083F6;
  --color-heading2: #FFFFFF;

  --bg-page: #F8FAFC;
  --color-page: #0F172A;

  --bg-input1: #0083F6;
  --color-input1: #FFFFFF;

  --border-subtle: #E2E8F0;
  --border-strong: #334155;
  --border-muted: #CBD5E1;
  --border-accent: #0083F6;
  --border-deep: #0A192F;
  
  --border-focus1: #38BDF8;
  --border-focus2: #FACC15;
  
  --emphasis-red: #C50909;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: solid 1px black;*/
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-primary);
  color: var(--color-primary); 
}

button , input[type="image"], input[type="submit"] {
  min-height: 24px;
  min-width: 24px;
  transition: transform 0.1s ease;
}

button:active , input[type="image"]:active, input[type="submit"]:active {
  transform: scale(0.95);
}

/* ------------ General Rules -------*/

.removed {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* ------------ Specific Rules --- */

/*---- Top bar ---- */

.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-secondary);
  width: 100%;
  height: 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 00;
}

.menu-btn {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  height: fit-content;
  margin: 0.5rem;
  border: none;
  cursor: pointer;
}

.menu-btn span {
  background-color: var(--bg-primary);
  padding: 0.15rem 0.85rem;
  margin: 0.15rem;
  border-radius: 0.075rem;
}

.hero {
  display: flex;
  padding: 0.2rem;
  margin: 0 auto 0.1rem auto;
  justify-content: center;
  align-items: center;
}

.logo-img {
  min-width: 3.5rem;
  width: 20%;
  max-width: 5rem;
  border-radius: 0.75rem;
}

.logo-text {
  text-decoration: none;
  display: inline-block;
  padding: 0.1rem 0;
  margin-left: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
}